html {
  height: 100vh;
}

/* #root {
  height: 90vh;
} */

.main-container {
  height: 80vh;
}

/*NAVBAR STYLES*/

#navbar-search {
  width: 25em;
}

#search-button-nav {
  width: 7em;
}

.navbar-nav li {
  color: white;
}

.cart {
  height: 24px;
  width: 24px;
  background-image: url('../media/img/shopping-cart-gray.png');
}

.cart:hover {
  background-image: url('../media/img/shopping-cart-white.png');
}

/*LOGIN FORM STYLES*/

.login-form-modal {
  position: relative;
  top: 14vh;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  padding: 50px;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: white;
}

.close-login {
  position: absolute;
  font-size: 25px;
  top: 0px;
  right: 10px;
  cursor: pointer;
}

.submit-button-login {
  background-color: #437fb9;
  color: white;
  border: 1px solid #437fb9;
}

.submit-button-login:hover {
  background-color: #33618d;
  color: white;
}

/*SIGNUP FORM STYLES*/

.signup-form-modal {
  position: relative;
  top: 14vh;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  padding: 50px;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: white;
}

.close-signup {
  position: absolute;
  font-size: 25px;
  top: 0px;
  right: 10px;
  cursor: pointer;
}

.submit-button-signup {
  background-color: #437fb9;
  color: white;
  border: 1px solid #437fb9;
}

.submit-button-signup:hover {
  background-color: #33618d;
  color: white;
}

/*FOOTER STYLES*/

.page-footer {
  position: fixed;
  height: 70px;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/*SELL FORM STYLES*/

#sellform-main {
  position: relative;
  top: 4vh;
  width: 40%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}

.form-text-area {
  resize: none;
}

.sell-price {
  width: 48%;
  height: 45px;
}

.sell-img-upload {
  width: 48%;
  height: 45px;
  margin-bottom: 15px;
}

.button-sell-form {
  background-color: #437fb9;
  color: white;
  border: 1px solid #437fb9;
}

.button-sell-form:hover {
  background-color: #33618d;
  color: white;
}

/*CATEGORY AND ITEM CONTAINER*/

.category-item-holder {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.category-item {
  cursor: pointer;
  font-size: 16px;
}

.category-item-border {
  border-top: 1px solid #a8b7c6;
}

.category-holder {
  background-color: #cbd6e2;
}

.category-item-row {
  flex: 1;
}

.item-holder {
  height: 100%;
  margin: 0 auto;
  overflow-y: auto;
  text-align: center;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}
/*SELL FORM STYLES*/

.categories-main {
  height: 100%;
  padding: 40px;
  padding-top: 60px;
  line-height: 25px;
}

/*ITEM PAGE*/
.container-item-page {
  width: 50%;
  height: 60vh;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  flex: 1;
}

.button-add-cart {
  width: 150px;
  margin-top: 15px;
}
.buy-photo {
  margin-top: 70px;
  background-color: red;
  height: 200px;
  width: 280px;
  text-align: center;
  line-height: 200px;
}

.buy-price {
  margin-top: 15px;
  font-size: 20px;
}

.left-column-buy {
  height: 347px;
}

.right-column-buy {
  height: 347px;
}

.right-column-inside {
  margin-top: 70px;
  height: 200px;
}
