#navbar-search {
  width: 25em;
}

#search-button-nav {
  width: 7em;
}

.login-form-modal {
  position: relative;
  top: 14vh;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  padding: 50px;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: white;
}

.close-login {
  position: absolute;
  font-size: 25px;
  top: 0px;
  right: 10px;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.signup-form-modal {
  position: relative;
  top: 14vh;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  padding: 50px;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: white;
}

.close-signup {
  position: absolute;
  font-size: 25px;
  top: 0px;
  right: 10px;
}

.page-footer {
  position: fixed;
  height: 70px;
  bottom: 0;
  width: 100%;
  z-index: -9999;
}
